@page "/fetchdata"
@inject SampleDataAccess data

<PageTitle>Employee Directory</PageTitle>

<h1>Employee Directory</h1>

@if (_employees is not null)
{
    foreach (var employee in _employees)
    {
        <h3>@employee.FirstName @employee.LastName</h3>
    }
}
else
{
    <h3>Loading...</h3>
}

@code {
    private List<EmployeeModel> _employees;

    //protected override void OnInitialized()
    //{
    //    _employees = data.GetEmployees();
    //}

    protected override async Task OnInitializedAsync()
    {
        _employees = await data.GetEmployeesCache();
    }
}